<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xs.bookrack.api.auto.dao.bookInfoMapper">
  <resultMap id="BaseResultMap" type="org.xs.bookrack.api.auto.dto.bookInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="isbn" jdbcType="VARCHAR" property="isbn" />
    <result column="average" jdbcType="VARCHAR" property="average" />
    <result column="subtitle" jdbcType="VARCHAR" property="subtitle" />
    <result column="origin_title" jdbcType="VARCHAR" property="originTitle" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="translator" jdbcType="VARCHAR" property="translator" />
    <result column="pubdate" jdbcType="VARCHAR" property="pubdate" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="binding" jdbcType="VARCHAR" property="binding" />
    <result column="pages" jdbcType="VARCHAR" property="pages" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="author_intro" jdbcType="VARCHAR" property="authorIntro" />
    <result column="catalog" jdbcType="VARCHAR" property="catalog" />
  </resultMap>
  <sql id="Base_Column_List">
    id, isbn, average, subtitle, origin_title, author, translator, pubdate, image, binding, 
    pages, price, summary, author_intro, catalog
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bookrack_book
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from bookrack_book
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.xs.bookrack.api.auto.dto.bookInfo">
    insert into bookrack_book (id, isbn, average, 
      subtitle, origin_title, author, 
      translator, pubdate, image, 
      binding, pages, price, 
      summary, author_intro, catalog
      )
    values (#{id,jdbcType=VARCHAR}, #{isbn,jdbcType=VARCHAR}, #{average,jdbcType=VARCHAR}, 
      #{subtitle,jdbcType=VARCHAR}, #{originTitle,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{translator,jdbcType=VARCHAR}, #{pubdate,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, 
      #{binding,jdbcType=VARCHAR}, #{pages,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, 
      #{summary,jdbcType=VARCHAR}, #{authorIntro,jdbcType=VARCHAR}, #{catalog,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.xs.bookrack.api.auto.dto.bookInfo">
    insert into bookrack_book
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="isbn != null">
        isbn,
      </if>
      <if test="average != null">
        average,
      </if>
      <if test="subtitle != null">
        subtitle,
      </if>
      <if test="originTitle != null">
        origin_title,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="translator != null">
        translator,
      </if>
      <if test="pubdate != null">
        pubdate,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="binding != null">
        binding,
      </if>
      <if test="pages != null">
        pages,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="summary != null">
        summary,
      </if>
      <if test="authorIntro != null">
        author_intro,
      </if>
      <if test="catalog != null">
        catalog,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="isbn != null">
        #{isbn,jdbcType=VARCHAR},
      </if>
      <if test="average != null">
        #{average,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null">
        #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="originTitle != null">
        #{originTitle,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="translator != null">
        #{translator,jdbcType=VARCHAR},
      </if>
      <if test="pubdate != null">
        #{pubdate,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="binding != null">
        #{binding,jdbcType=VARCHAR},
      </if>
      <if test="pages != null">
        #{pages,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="authorIntro != null">
        #{authorIntro,jdbcType=VARCHAR},
      </if>
      <if test="catalog != null">
        #{catalog,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.xs.bookrack.api.auto.dto.bookInfo">
    update bookrack_book
    <set>
      <if test="isbn != null">
        isbn = #{isbn,jdbcType=VARCHAR},
      </if>
      <if test="average != null">
        average = #{average,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null">
        subtitle = #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="originTitle != null">
        origin_title = #{originTitle,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="translator != null">
        translator = #{translator,jdbcType=VARCHAR},
      </if>
      <if test="pubdate != null">
        pubdate = #{pubdate,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="binding != null">
        binding = #{binding,jdbcType=VARCHAR},
      </if>
      <if test="pages != null">
        pages = #{pages,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="authorIntro != null">
        author_intro = #{authorIntro,jdbcType=VARCHAR},
      </if>
      <if test="catalog != null">
        catalog = #{catalog,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.xs.bookrack.api.auto.dto.bookInfo">
    update bookrack_book
    set isbn = #{isbn,jdbcType=VARCHAR},
      average = #{average,jdbcType=VARCHAR},
      subtitle = #{subtitle,jdbcType=VARCHAR},
      origin_title = #{originTitle,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      translator = #{translator,jdbcType=VARCHAR},
      pubdate = #{pubdate,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      binding = #{binding,jdbcType=VARCHAR},
      pages = #{pages,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      author_intro = #{authorIntro,jdbcType=VARCHAR},
      catalog = #{catalog,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>